.property-bloc {
  display: flex;
  padding: 0.7em 0;
}

.property-button {
  background-color: rgba(255, 255, 255, 0.557);
  color: #383838;
  margin-right: 20px;
  border-radius: 20px;
  padding: 0.2em 1em;
  h4 {
    margin: 0;
  }
}

.property-bloc-title {
  margin: 0.6em 0;
}
